:root {
  font-family: "Open Sans", Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0ff;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
